.DS_Store
Thumbs.db

.cache/
.tools/
.idea/
.vscode/
*.iml
*.so
coverage.*
/go.work
go.work.sum

crosslink/internal/test_data/
!crosslink/internal/test_data/.placeholder

crosslink/crosslink
gotmpl/gotmpl
multimod/multimod
*.exe
