.DS_Store
Thumbs.db

.cache/
.tools/
.idea/
.vscode/
*.iml
*.so
coverage.*
go.work.sum

cmd/crosslink/internal/test_data/
!cmd/crosslink/internal/test_data/.placeholder

cmd/crosslink/crosslink
cmd/gotmpl/gotmpl
cmd/multimod/multimod
*.exe
